provider "google" {
  project     = "{{ tfvar.project }}"
  region      = "{{ tfvar.region }}"
  credentials = file("{{ tfvar.credentials }}")
}

# VPC
resource "{{ tfvar.vpc.resource_name }}" "vpc" {
  name                    = "{{ tfvar.project }}-vpc"
  auto_create_subnetworks = "false"
}

# Subnets
{% for key,values in tfvar.vpc.subnets.items() %}
resource "{{ key }}" "subnet" {
  name          = "{{ tfvar.project }}-subnet"
  region        = "{{ tfvar.region }}"
  network       = "{{ tfvar.project }}-vpc"
  ip_cidr_range = "{{ values.ip_cidr_range }}"
}
{% endfor %}
