provider "google" {
  project     = "{{ tfvars.project }}"
  region      = "{{ tfvars.region }}"
  credentials = file("{{ tfvars.credentials }}")
}

# VPC
resource "{{ tfvars.vpc.resource_name }}" "vpc" {
  name                    = "{{ tfvars.project }}-vpc"
  auto_create_subnetworks = "false"
}

# Subnets
{% for key,values in tfvars.vpc.subnets.items() %}
resource "{{ key }}" "subnet" {
  name          = "{{ tfvars.project }}-subnet"
  region        = "{{ tfvars.region }}"
  network       = "{{ tfvars.project }}-vpc"
  ip_cidr_range = "{{ values.ip_cidr_range }}"
}
{% endfor %}
